/********************
|| Fonts
*********************/

@font-face {
  font-family: 'weekly_freesemibold';
  src: url('/assets/fonts/weeklyfree-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/weeklyfree-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: 'weekly_freesemibold', Arial, Helvetica, sans-serif;

  /* CSS Variables */
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 7rem;
}

img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.imageGallery {
  /* Display & Box Model */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-auto-rows: 200px;
  grid-gap: .5rem;
  gap: .5rem;
  grid-auto-flow: dense;
}

.vertical {
  grid-row: span 2;
}

.square {
  grid-column: span 2;
  grid-row: span 2;
}

.big {
  grid-column: span 3;
  grid-row: span 3;
}

/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}

/********************
|| Media Queries
*********************/
@media only screen and (max-width: 950px) {
  .imageGallery {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-auto-rows: 150px;
  }

  /* .vertical {
    grid-row: span 1;
  } */
  
  .square {
    grid-column: span 2;
    grid-row: span 2;
  }
  
  .big {
    grid-column: span 2;
    grid-row: span 2;
  }
}

@media only screen and (max-width: 490px) {
  .imageGallery {
    display: flex;
    flex-direction: column;
  }
}