/********************
|| Fonts
*********************/

@font-face {
  font-family: 'weekly_freesemibold';
  src: url('/assets/fonts/weeklyfree-semibold-webfont.woff2') format('woff2'),
       url('/assets/fonts/weeklyfree-semibold-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

/********************
|| General Styles
*********************/
html {
  /* Display & Box Model */
  box-sizing: border-box;

  /* Other */
  font-size: 62.5%;
  font-family: 'weekly_freesemibold', Arial, Helvetica, sans-serif;

  /* CSS Variables */
}

*,
*::before,
*::after {
  /* Display & Box Model */
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

body {
  padding: 5rem;
}

h1 {
  font-size: 5rem;
  text-align: center;
  margin-bottom: 10rem;
}

/********************
|| Utilities
*********************/
.noBullets {
  /* Other */
  list-style-type: none;
}

.troubleshooting {
  /* Other */
  outline: 1px solid red;
}